[submodule "modoolar/scrummer"]
	path = modoolar/scrummer
	url = git@github.com:archimagogabo/pruebas.git
	branch = master

[submodule "prueba/scrummer"]
	path = prueba/scrummer
	url = git@github.com:modoolar/scrummer.git
	branch = 11.0
